body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: url('../Images/home-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    align-content: center;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: 200px;
}